<div id="cote" data-id={{id}}>
    <div id="cote-header">
        {{user.username}}:
    </div>
    <div id="cote-body">
        <h4>
            - {{cote}}
        </h4>
    </div>
    <div id="cote-footer">
        <div id="cote-date">
            {{#if logged_in}}
            <button class="cote-btn">&#10010;</button> | 
            <button class="cote-btn">&#9829;</button> |
            {{/if}}
            created at: {{format_date date_created}}
        </div>
    </div>
</div>

        