<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Font Details</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="main-header">
    <div class="logo">
      <h1>COTER!</h1>
      <h6>Cote your code</h6>
    </div>
    <nav class="nav-bar">
      <button class="" id="home"><a href="/">Home</a></button>
    </nav>
  </header>

  <main class="">
    <div class="font-details">
      <h2>Font Details</h2>
      <p>Font Name: {{font.fontName}}</p>
      <p>Font Postscript Name: {{font.fontPostscriptName}}</p>
    </div>
  </main>
</body>

</html>
