:root {
    --body-background: #0aff99;
    --card-background: #c9c9b8;
    --header-background: #7F9183;
    --nav-background: #ffe3e3;
    --header-color: #f9c846;
    --font-color-dark: #f96e46;
    --font-color-light: #f9c846;
    --section-background: #8b9c8f;
    --A: #ef476f;
    --B: #ffd166;
    --C: #06d6a0;
    --D: #118ab2;
    --E: #073b4c;
    --F: #f96e46;
    --G: #0aff99;
    --H: #fcfbfb;

}

body {
    background-color: var(--D);
}

.main-header {
    /* background-color: var(--D); */
    background: linear-gradient(90deg, var(--E), var(--A));
    height: 100px;
}

.logo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: bolder;
    text-align: left;
    padding: 27px;
    color: var(--B);
    text-shadow: 2px 3px 1px gray;
    width: 100%;
    height: 20vh;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, var(--E) 0%, var(--C) 25%, var(--B) 51%, var(--A) 100%);
    -webkit-animation: AnimateBG 20s ease infinite;
    animation: AnimateBG 10s ease infinite;
}

.logo h1 {
    font-weight: bold;
}

.nav-bar {
    display: flex;
    background-color: var(--E);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    justify-content: flex-end;
    padding: 10px;
}



button {
    text-decoration: none;
    padding: 5px;
    border: 2px solid var(--B);
    background-color: var(--F);
    color: var(--B);
    border-radius: 5px;
    box-shadow: 1px 1px 1px var(--D);
}

button:hover {
    background-color: var(--card-background);
    color: var(--font-color-dark);
    text-shadow: 1px 1px 1px var(--font-color-light);
    box-shadow: 1px 1px 1px var(--font-color-dark);
}

button:active {
    background-color: var(--font-color-dark);
    color: var(--font-color-light);
    text-shadow: 1px 1px 1px var(--font-color-dark);
    box-shadow: 1px 1px -1px var(--font-color-dark);
}

main {
    flex: 1 1 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background-color: var(--B);
    margin: 0;
}

#left-sidebar,
#right-sidebar {
    position: relative;
    flex: 1;
    padding: 10px;
    margin: 15px;
    color: var(--E);
    font-family: 'Georgia', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-shadow: 1px 1px 1px var(--D);
    text-align: center;
}

#left-sidebar {
    width: 15%;
}

#right-sidebar {
    width: 20%;
}

#left-sidebar h3 {
    font-size: 1.30rem;
    font-weight: bold;
}

#main-section {
    flex: 1 1 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-left: 2px dotted var(--font-color-dark);
    border-right: 2px dotted var(--font-color-dark);
    margin: 10px;
    padding: 10px;
    width: 40%;
}

#cote {
    margin: 10px;
    flex: 1 0 500px;
    background-color: var(--D);
    width: 800px;
    color: var(--font-color-dark);
    border: 2px solid var(--nav-background);
    border-radius: 10px;
}

#cote-header {
    margin: 0;
    padding: 10px;
    background-color: var(--E);
    color: var(--B);
    /* border-radius: 10px; */
}

a {
    text-decoration: none;
    color: var(--B);
}

#cote-body {
    padding: 10px;
    color: var(--H);
}

#cote-footer {
    padding: 5px;
    margin: 5px;
    background-color: var(--C);
    border-radius: 5px;
}

#cote-date {
    /* position: relative;
    left: 550px; */
    display: flex;
    justify-content: flex-end;
}

.cote-btn {
    background-color: var(--card-background);
    color: var(--font-color-dark);
    text-shadow: 1px 1px 1px var(--font-color-light);
    box-shadow: 1px 1px 1px var(--font-color-dark);
    font-size: 11px;
    padding: 2px 4px;
}

#avatar img {
    width: 250px;
    border-radius: 50%;
    border-right: 3px dotted var(--font-color-dark);
    background-color: var(--B);
}


@-webkit-keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width: 992px) {
    main {
        flex-direction: row;
        /* display: none; */
        justify-content: center;
    }

    #main-section {
        flex-direction: row;
    }
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
        /* display: none; */
        /* justify-content: center; */
    }

    #main-section {
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    main {
        flex-direction: column;
        /* display: none; */
        /* justify-content: center; */
    }

    #main-section {
        flex-direction: column;
    }
}